<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirect all requests to application/views/news/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ application/views/news/index.php [L]
</IfModule>
