/*********************
Name: Michael Brady
Intermediate Web Programming
Purpose: This web application uses the CodeIgniter framework to display and create news headlines and articles.
**********************/
*{
    margin: 0;
    padding: 0;
}

/*Heading Font*/
@font-face {
    font-family: heading;
    src: url(../fonts/headings/NewsOfTheWorldWide-KwaA.ttf);
}

/*Font is News of the World by sharkshock on https://www.fontspace.com/*/

body{
    background-color: #FFF0E2;
    position: relative;
    min-height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Background photo by Zhang Kaiyv from Pexels: https://www.pexels.com/photo/high-rise-buildings-1139556/*/

/*Nav*/

#mobnav{
    display: block;
}

.nav-section{
    height: 70px;
    background: #242323;
}

.nav-section a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #FFF0E2;
    font-size: 20px;
    transition: .25s;
}

.nav-section a:hover{
    color: #D53F3A;
}

.checkbox {
    position: absolute;
    display: block;
    height: 26px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 2;
    opacity: 0;
}

.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FFF0E2;
}

.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.line2 {
    transition: transform 0.2s ease-in-out;
}

.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.menu-items {
    padding: 30px 0 30px 0;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background: #242323;
}

.menu-items a{
    padding: 5px 0 5px 0;
}

input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
  
input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
  
input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

#normnav{
    display: none;
}

h1{
    color: #D53F3A;
    font-family: heading, sans-serif;
}

h2, h3{
    color: #242323;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p{
    color: #242323;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.page-header{
    text-align: center;
    font-size: 40px;
}

.centered{
    text-align: center;
}

.footer{
    font-size: 16px;
    background-color: #242323;
    color: #FFF0E2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

#content-wrap{
    padding-bottom: 40px;
}

.about{
    padding: 30px 60px 30px 60px;
    background-color: rgba(255,240,226,.75);
}

.news-item, #create{
    padding: 30px 60px 30px 60px;
    background-color: rgba(255,240,226,.75);
}

form{
    text-align: center;
}

.formInput, textarea{
    font-size: 16px;
    color: #242323;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    width: 80%;
    background-color: #FFF0E2;
    border-radius: 5px;
    padding: 5px;
}

label{
    font-weight: bold;
    font-size: 20px;
    color: #242323;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

#submit, #clear{
    font-size: 16px;
    background-color:#242323;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF0E2;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: .25s;
    width: 75px;
}

#submit:hover, #clear:hover{
    background-color:#D53F3A;
}

#errors p{
    color:#D53F3A;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

#success{
    color:#242323;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#home-text{
    background-color: rgba(255,240,226,.75);
    width: fit-content;
    margin: 0 auto 0 auto;
    padding: 10px;
    border-radius: 5px;
}

[class = '1']{
    color: #D53F3A;
}

#errmsg{
    color: red;
    background-color: rgba(255,240,226,.75);
    margin: 10px auto 0px auto;
    border-radius: 5px;
    width: 80%;
}

#successmsg{
    color: green;
    background-color: rgba(255,240,226,.75);
    margin: 10px auto 0px auto;
    border-radius: 5px;
    width: 80%;
}

/*Responsive styles*/

@media screen and (min-width: 600px) {
    .page-header{
        font-size: 75px;
    }
    h2, h3{
        font-size: 30px;
    }
    .footer{
        font-size: 10px;
    }
    #mobnav{
        display: none;
    }
    #normnav{
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        column-gap: 20px;
        padding-left: 20px;
    }
    #normnav a{
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    .formInput, textarea, #errmsg, #successmsg{
        width: 400px;
    }
    body{
        background-position: center top;
    }
    .about, #create{
        width: 500px;
        margin: 0 auto 0 auto;
        border-radius: 5px;
    }
}
